= simple_form_for(@course_user) do |f|
  = f.error_notification

  .form-inputs
    = f.association :course
    = f.association :user
    = f.label :role
    = f.select :role, options_for_select(CourseUser.roles.collect{|key,_| key})

  .form-actions
    = f.button :submit
