= simple_form_for([@course, @chapter]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :content
    = hidden_field_tag "chapter[course_id]", @course.id

  .form-actions
    = f.button :submit
