%h1 Listing chapters

%table
  %tr
    %th Name
    %th Content
    %th Course
    %th
    %th
    %th

  - @chapters.each do |chapter|
    %tr
      %td= chapter.name
      %td= chapter.content
      %td= chapter.course
      %td= link_to 'Show', chapter
      %td= link_to 'Edit', edit_chapter_path(chapter)
      %td= link_to 'Destroy', chapter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Chapter', new_course_chapter_path(@course)
