%p#notice= notice

%p
  %b Name:
  = @chapter.name
%p
  %b Content:
  = @chapter.content
%p
  %b Course:
  = @chapter.course

= link_to 'Edit', edit_course_chapter_path(@course, @chapter)
\|
= link_to 'Back', course_chapters_path(@chapter)
